@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400);

.icon, .image, header p, sup {
    position: relative
}

#header, ul.feature-icons li:before {
    background: #4acaa8;
    text-align: center
}

#wrapper, body {
    background: #fff
}

#header > nav ul li a, .icon, a, h4 a, ul.feature-icons li {
    text-decoration: none
}

a, article, body, div, footer, h1, h2, h3, h4, header, html, img, li, nav, p, section, span, sup, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, footer, header, nav, section {
    display: block
}

body {
    -webkit-text-size-adjust: none;
    color: #888;
    font-family: Lato, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 45em
}

@media screen and (max-width: 1680px) {
    .container {
        width: 45em
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 42em
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 85% !important
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 90% !important
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90% !important
    }
}

a {
    -moz-transition: color .2s ease-in-out, border-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    border-bottom: solid 1px #e4e4e4;
    color: inherit
}

a:hover {
    border-bottom-color: transparent;
    color: #4acaa8 !important
}

p {
    margin: 0 0 2.25em
}

h1, h2, h3, h4 {
    color: #777;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 .5625em
}

h2, h3, h4, header h2 + p, header h4 + p {
    line-height: 1.5em
}

h4 a {
    border: 0;
    color: inherit
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.75em
}

h4 {
    font-size: 1.25em
}

sup {
    font-size: .8em;
    top: -.5em
}

header p {
    color: #aaa;
    margin: 0 0 1.6875em
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -.5em
}

header h4 + p {
    font-size: .9em;
    margin-top: -.25em
}

header.major h2 {
    color: #4acaa8;
    font-size: 3.5em
}

header.major h2 + p {
    color: #777;
    font-size: 1.75em;
    font-weight: 700;
    margin-top: -.75em
}

::-webkit-input-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1
}

:-moz-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1
}

::-moz-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1
}

:-ms-input-placeholder {
    color: #aaa !important;
    font-style: italic;
    opacity: 1
}

.icon:before, ul.feature-icons li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none !important
}

.icon {
    border-bottom: none
}

.icon > .label {
    display: none
}

.image {
    border-radius: 5px;
    border: 0;
    display: inline-block
}

.image img {
    border-radius: 5px;
    display: block
}

.image.avatar {
    border-radius: 100%;
    overflow: hidden
}

.image.avatar img {
    border-radius: 100%;
    display: block;
    width: 100%
}

ul {
    list-style: disc;
    margin: 0 0 2.25em;
    padding-left: 1em
}

ul li {
    padding-left: .5em
}

ul.feature-icons {
    list-style: none;
    padding-left: 0
}

ul.feature-icons li {
    display: inline-block;
    margin: 0 0 1.6875em;
    padding: .35em 0 0 3.5em;
    position: relative;
    vertical-align: top;
    width: 48%
}

ul.feature-icons li:before {
    border-radius: 100%;
    color: #fff;
    display: block;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    position: absolute;
    top: 0;
    width: 2.5em
}

#header, #header a {
    color: #d1f1e9
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0
}

ul.icons li:last-child {
    padding-right: 0 !important
}

ul.icons li .icon:before {
    font-size: 1.25em
}

.features article {
    border-top: solid 3px #f4f4f4;
    margin-bottom: 2.25em;
    padding-top: 2.25em
}

.features article:first-child {
    border-top: 0;
    padding-top: 0
}

.features article .image {
    display: inline-block;
    padding-right: 2.5em;
    vertical-align: middle;
    width: 48%
}

.features article .image img {
    display: block;
    width: 100%
}

.features article .inner {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}

.features article .inner > :last-child {
    margin-bottom: 0
}

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 23em;
    right: 0
}

#header h1 {
    color: #fff
}

#header header p {
    color: #b6e9dc
}

#header a:hover {
    color: #fff !important
}

#header > header {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 3em
}

#header > header .avatar {
    display: block;
    margin: 0 auto 2.25em;
    width: 8em
}

#header > header h1 {
    font-size: 1.75em;
    margin: 0
}

#header > header p {
    color: #d1f1e9;
    font-style: italic;
    margin: 1em 0 0
}

#header > footer {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%
}

#header > footer .icons {
    margin: 0
}

#header > footer .icons li a {
    color: #b6e9dc
}

#header > nav {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1
}

#header > nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#header > nav ul li {
    border-top: solid 2px #5ccfb0;
    display: block;
    padding: 0
}

#header > nav ul li a {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
    border: 0;
    color: #fff !important;
    display: block;
    padding: .85em 0
}

#header > nav ul li a.active {
    background: #fff;
    color: #4acaa8 !important
}

#footer, #header > nav ul li:first-child, #main > section:first-child {
    border-top: 0
}

#wrapper {
    padding-right: 23em
}

#main > section {
    border-top: solid 6px #f4f4f4
}

#main > section > .container {
    padding: 6em 0 4em
}

#weather {
    background-color: #60B1F5;
    content: '';
    display: block;
    height: 15em;
    width: 100%
}

#footer {
    background: #fafafa;
    color: silver;
    overflow: hidden;
    padding: 4em 0 2em
}

#footer .copyright {
    line-height: 1em;
    list-style: none;
    padding: 0
}

#footer .copyright li {
    border-left: solid 1px #d4d4d4;
    display: inline-block;
    font-size: .8em;
    margin-left: 1em;
    padding-left: 1em
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 13pt
    }

    #header {
        width: 21em
    }

    #header > header {
        padding: 2em
    }

    #header > footer {
        padding: 1.5em
    }

    #wrapper {
        padding-right: 21em
    }

    #main > section > .container {
        padding: 4em 0 2em
    }

    #titleBar {
        display: none
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 11pt
    }

    #header {
        width: 20em
    }

    #wrapper {
        padding-right: 20em
    }

    #titleBar {
        display: none
    }
}

@media screen and (max-width: 1024px) {
    #header, #wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-transition: -moz-transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
        -ms-transition: -ms-transform .5s ease;
        backface-visibility: hidden;
        transition: transform .5s ease
    }

    body, html {
        overflow-x: hidden
    }

    body {
        font-size: 12pt
    }

    #header {
        display: block;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 23em;
        z-index: 10002;
        -moz-transform: translateX(23em);
        -webkit-transform: translateX(23em);
        -ms-transform: translateX(23em);
        transform: translateX(23em);
        right: 0
    }

    #header > footer {
        bottom: auto;
        left: auto;
        margin: .5em 0 0;
        position: relative;
        right: auto;
        top: auto
    }

    #wrapper {
        padding: 44px 0 1px
    }

    #one:before {
        height: 10em
    }

    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
        -ms-transition: -ms-transform .5s ease;
        transition: transform .5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        background: #222;
        color: #fff;
        min-width: 320px
    }
}

@media screen and (max-width: 736px) {
    .features article .image, .features article .inner {
        width: 100%;
        display: block
    }

    body {
        font-size: 12pt
    }

    h2 {
        font-size: 1.75em
    }

    h3 {
        font-size: 1.5em
    }

    h4 {
        font-size: 1em
    }

    header.major h2 {
        font-size: 2.5em
    }

    #header > header h1, header.major h2 + p {
        font-size: 1.5em
    }

    .features article .image {
        margin: 0 0 2.25em;
        padding-right: 0
    }

    #header {
        width: 17em;
        -moz-transform: translateX(17em);
        -webkit-transform: translateX(17em);
        -ms-transform: translateX(17em);
        transform: translateX(17em);
        right: 0
    }

    #header > header {
        padding: 2em
    }
ã€€
    #header > header .avatar {
        margin: 0 auto 1.6875em;
        width: 6em
    }

    #header > header p {
        margin: 1em 0 0
    }

    #header > footer {
        padding: 1.5em
    }

    #main > section > .container {
        padding: 2em 0 0
    }

    #one:before {
        height: 7em
    }

    #footer {
        text-align: center
    }

    #footer .copyright li {
        border-left: 0;
        display: block;
        line-height: 1.75em;
        margin: .75em 0 0;
        padding-left: 0
    }

    #footer .copyright li:first-child {
        margin-top: 0
    }
}

@media screen and (max-width: 480px) {
    body, html {
        min-width: 320px
    }

    body {
        font-size: 12pt
    }

    ul.feature-icons li {
        display: block;
        width: 100%
    }
}

#weatherdisplaycontainer {
    margin-right: 80px
}

#weatherdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation-name: fadeIn;
    animation-duration: 3s
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.6.3);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa-book:before {
    content: "\f02d"
}

.fa-facebook:before {
    content: "\f09a"
}

.fa-github:before {
    content: "\f09b"
}

.fa-users:before {
    content: "\f0c0"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-bolt:before {
    content: "\f0e7"
}

.fa-coffee:before {
    content: "\f0f4"
}

.fa-code:before {
    content: "\f121"
}

.fa-cubes:before {
    content: "\f1b3"
}