.cloudy, .rainy, .rainy:before, .sunny:after {
    border-radius: 50%
}

.cloudy:after, .rainbow:after, .rainy:after, .rainy:before, .snowy:after, .snowy:before, .stormy:after, .stormy:before, .sunny:after, .sunny:before {
    content: ''
}

.sunny, .sunny:before {
    height: 140px;
    width: 20px
}

.rainy, .rainy:before, .snowy, .snowy:before {
    display: block
}

.sunny {
    -webkit-animation: sunny 15s linear infinite;
    animation: sunny 15s linear infinite;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    left: 50px;
    top: -10px
}

.sunny:after, .sunny:before {
    position: absolute
}

.sunny:before {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.sunny:after {
    background: #FE4;
    box-shadow: rgba(255, 255, 0, .2) 0 0 0 15px;
    height: 80px;
    width: 80px;
    left: -30px;
    top: 30px
}

.cloudy:after, .rainy:after {
    left: 5px;
    border-radius: 50%;
    position: absolute
}

@-webkit-keyframes sunny {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes sunny {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.cloudy {
    -webkit-animation: cloudy 5s ease-in-out infinite;
    animation: cloudy 5s ease-in-out infinite;
    background: #fff;
    box-shadow: #fff 65px -15px 0 -5px, #FFF 25px -25px, #FFF 30px 10px, #FFF 60px 15px 0 -10px, #FFF 85px 5px 0 -5px;
    height: 50px;
    width: 50px
}

.cloudy:after {
    -webkit-animation: cloudy_shadow 5s ease-in-out infinite;
    animation: cloudy_shadow 5s ease-in-out infinite;
    background: #000;
    height: 15px;
    width: 120px;
    opacity: .2;
    bottom: -40px;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
}

@-webkit-keyframes cloudy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes cloudy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes cloudy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@keyframes cloudy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

.rainy {
    -webkit-animation: rainy 5s ease-in-out infinite 1s;
    animation: rainy 5s ease-in-out infinite 1s;
    background: #ccc;
    box-shadow: #ccc 65px -15px 0 -5px, #CCC 25px -25px, #CCC 30px 10px, #CCC 60px 15px 0 -10px, #CCC 85px 5px 0 -5px;
    height: 50px;
    width: 50px
}

.rainy:after {
    -webkit-animation: rainy_shadow 5s ease-in-out infinite 1s;
    animation: rainy_shadow 5s ease-in-out infinite 1s;
    background: #000;
    height: 15px;
    width: 120px;
    opacity: .2;
    bottom: -60px;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
}

.rainy:before {
    -webkit-animation: rainy_rain .7s infinite linear;
    animation: rainy_rain .7s infinite linear;
    background: #ccc;
    height: 6px;
    width: 3px;
    opacity: .3;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

@-webkit-keyframes rainy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes rainy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes rainy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@keyframes rainy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@-webkit-keyframes rainy_rain {
    0% {
        box-shadow: transparent 30px 30px, transparent 40px 40px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px
    }
    25% {
        box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 120px, transparent 80px 120px, #000 110px 70px, #000 90px 60px
    }
    26% {
        box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 40px, transparent 80px 20px, #000 110px 70px, #000 90px 60px
    }
    50% {
        box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 100px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px
    }
    51% {
        box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 45px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px
    }
    75% {
        box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 95px, #000 70px 80px, #000 80px 70px, transparent 110px 120px, transparent 90px 110px
    }
    76% {
        box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 35px, #000 70px 80px, #000 80px 70px, transparent 110px 25px, transparent 90px 15px
    }
    100% {
        box-shadow: transparent 30px 120px, transparent 40px 120px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px
    }
}

@keyframes rainy_rain {
    0% {
        box-shadow: transparent 30px 30px, transparent 40px 40px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px
    }
    25% {
        box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 120px, transparent 80px 120px, #000 110px 70px, #000 90px 60px
    }
    26% {
        box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 40px, transparent 80px 20px, #000 110px 70px, #000 90px 60px
    }
    50% {
        box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 100px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px
    }
    51% {
        box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 45px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px
    }
    75% {
        box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 95px, #000 70px 80px, #000 80px 70px, transparent 110px 120px, transparent 90px 110px
    }
    76% {
        box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 35px, #000 70px 80px, #000 80px 70px, transparent 110px 25px, transparent 90px 15px
    }
    100% {
        box-shadow: transparent 30px 120px, transparent 40px 120px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px
    }
}

.rainbow {
    -webkit-animation: rainbow 5s ease-in-out infinite;
    animation: rainbow 5s ease-in-out infinite;
    border-radius: 170px 0 0;
    box-shadow: #fb323c -2px -2px 0 1px, #F99716 -4px -4px 0 3px, #FEE124 -6px -6px 0 5px, #AFDF2E -8px -8px 0 7px, #6AD7F8 -10px -10px 0 9px, #60B1F5 -12px -12px 0 11px, #A3459B -14px -14px 0 13px;
    height: 70px;
    width: 70px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
}

.rainbow:after, .snowy, .snowy:before, .stormy {
    border-radius: 50%
}

.rainbow:after {
    -webkit-animation: rainbow_shadow 5s ease-in-out infinite;
    animation: rainbow_shadow 5s ease-in-out infinite;
    background: #000;
    opacity: .2;
    height: 15px;
    width: 120px;
    position: absolute;
    bottom: -23px;
    left: 17px;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.snowy:after, .stormy:after {
    bottom: -60px;
    border-radius: 50%
}

@-webkit-keyframes rainbow {
    50% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg)
    }
}

@keyframes rainbow {
    50% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg)
    }
}

@-webkit-keyframes rainbow_shadow {
    50% {
        -webkit-transform: rotate(-50deg) translate(10px) scale(.7);
        transform: rotate(-50deg) translate(10px) scale(.7);
        opacity: .05
    }
}

@keyframes rainbow_shadow {
    50% {
        -webkit-transform: rotate(-50deg) translate(10px) scale(.7);
        transform: rotate(-50deg) translate(10px) scale(.7);
        opacity: .05
    }
}

.stormy {
    -webkit-animation: stormy 5s ease-in-out infinite;
    animation: stormy 5s ease-in-out infinite;
    background: #222;
    box-shadow: #222 65px -15px 0 -5px, #222 25px -25px, #222 30px 10px, #222 60px 15px 0 -10px, #222 85px 5px 0 -5px;
    height: 50px;
    width: 50px
}

.stormy:after {
    -webkit-animation: stormy_shadow 5s ease-in-out infinite;
    animation: stormy_shadow 5s ease-in-out infinite;
    background: #000;
    height: 15px;
    width: 120px;
    opacity: .2;
    position: absolute;
    left: 5px;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
}

.stormy:before {
    -webkit-animation: stormy_thunder 2s steps(1, end) infinite;
    animation: stormy_thunder 2s steps(1, end) infinite;
    border-left: 0 solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid #ff0;
    box-shadow: #ff0 -7px -32px;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
    -webkit-transform-origin: 50% -60px;
    -ms-transform-origin: 50% -60px;
    transform-origin: 50% -60px
}

@-webkit-keyframes stormy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes stormy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes stormy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@keyframes stormy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@-webkit-keyframes stormy_thunder {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
        opacity: 1
    }
    5% {
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        opacity: 1
    }
    10% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
    15% {
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        opacity: 0
    }
}

@keyframes stormy_thunder {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
        opacity: 1
    }
    5% {
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        opacity: 1
    }
    10% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
    15% {
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        opacity: 0
    }
}

.snowy {
    -webkit-animation: snowy 5s ease-in-out infinite 1s;
    animation: snowy 5s ease-in-out infinite 1s;
    background: #fff;
    box-shadow: #fff 65px -15px 0 -5px, #FFF 25px -25px, #FFF 30px 10px, #FFF 60px 15px 0 -10px, #FFF 85px 5px 0 -5px;
    height: 50px;
    width: 50px
}

.snowy:after {
    -webkit-animation: snowy_shadow 5s ease-in-out infinite 1s;
    animation: snowy_shadow 5s ease-in-out infinite 1s;
    background: #000;
    height: 15px;
    width: 120px;
    opacity: .2;
    position: relative;
    left: 8px;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
}

.snowy:before {
    -webkit-animation: snowy_snow 2s infinite linear;
    animation: snowy_snow 2s infinite linear;
    height: 7px;
    width: 7px;
    opacity: .8;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

@-webkit-keyframes snowy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes snowy {
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes snowy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@keyframes snowy_shadow {
    50% {
        -webkit-transform: translateY(20px) scale(1);
        transform: translateY(20px) scale(1);
        opacity: .05
    }
}

@-webkit-keyframes snowy_snow {
    0% {
        box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #EEE 50px 75px, #EEE 55px 50px, #EEE 70px 100px, #EEE 80px 95px, #EEE 110px 45px, #EEE 90px 35px
    }
    25% {
        box-shadow: #eee 30px 45px, #EEE 40px 60px, #EEE 50px 90px, #EEE 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #EEE 110px 70px, #EEE 90px 60px
    }
    26% {
        box-shadow: #eee 30px 45px, #EEE 40px 60px, #EEE 50px 90px, #EEE 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #EEE 110px 70px, #EEE 90px 60px
    }
    50% {
        box-shadow: #eee 30px 70px, #EEE 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #EEE 55px 80px, #EEE 70px 60px, #EEE 80px 45px, #EEE 110px 95px, #EEE 90px 85px
    }
    51% {
        box-shadow: #eee 30px 70px, #EEE 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #EEE 55px 80px, #EEE 70px 60px, #EEE 80px 45px, #EEE 110px 95px, #EEE 90px 85px
    }
    75% {
        box-shadow: #eee 30px 95px, #EEE 40px 100px, #EEE 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #EEE 70px 80px, #EEE 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px
    }
    76% {
        box-shadow: #eee 30px 95px, #EEE 40px 100px, #EEE 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #EEE 70px 80px, #EEE 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px
    }
    100% {
        box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #EEE 50px 75px, #EEE 55px 50px, #EEE 70px 100px, #EEE 80px 95px, #EEE 110px 45px, #EEE 90px 35px
    }
}

@keyframes snowy_snow {
    0% {
        box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #EEE 50px 75px, #EEE 55px 50px, #EEE 70px 100px, #EEE 80px 95px, #EEE 110px 45px, #EEE 90px 35px
    }
    25% {
        box-shadow: #eee 30px 45px, #EEE 40px 60px, #EEE 50px 90px, #EEE 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #EEE 110px 70px, #EEE 90px 60px
    }
    26% {
        box-shadow: #eee 30px 45px, #EEE 40px 60px, #EEE 50px 90px, #EEE 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #EEE 110px 70px, #EEE 90px 60px
    }
    50% {
        box-shadow: #eee 30px 70px, #EEE 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #EEE 55px 80px, #EEE 70px 60px, #EEE 80px 45px, #EEE 110px 95px, #EEE 90px 85px
    }
    51% {
        box-shadow: #eee 30px 70px, #EEE 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #EEE 55px 80px, #EEE 70px 60px, #EEE 80px 45px, #EEE 110px 95px, #EEE 90px 85px
    }
    75% {
        box-shadow: #eee 30px 95px, #EEE 40px 100px, #EEE 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #EEE 70px 80px, #EEE 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px
    }
    76% {
        box-shadow: #eee 30px 95px, #EEE 40px 100px, #EEE 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #EEE 70px 80px, #EEE 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px
    }
    100% {
        box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #EEE 50px 75px, #EEE 55px 50px, #EEE 70px 100px, #EEE 80px 95px, #EEE 110px 45px, #EEE 90px 35px
    }
}